:root{
    --background-color:#1E90FF;
    --text-color:#070721;
    --p-color:#0d0d0f;
    --label-color:#787e8b;
    --border-color:#9ca4b4;
    --hover-color:#87abf8;
    --font-family: "Helvetica Neue",Helvetica,Arial;
    --border-radius:5px;
    --white-board:#fff;
}
*,::after,::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family);
}
body {
    
    color: var(--text-color);
    font-family: var(--font-family);
    width:100%;
    background-color: var(--background-color);

    
}
main{
    width:60%;
    margin:1rem auto;
    padding:20px;
    background:var(--white-board);

}
#survey-form{
    background: var(--white-board);
    border: 3px solid violet;
    width:90%;
    margin:1.5rem auto;
}
h1, p{
    text-align:center;
    margin-bottom:15px;
}
p{
    color: var(--label-color);
    font-style: italic;
    font-size:16px;
}
p::before , p::after{
    content: '"';
}
hr{
    width:100%;
    border: 1px dashed var(--border-color);
}
