:root{
    --background-color:#0c3258;
    --text-color:#070721;
    --p-color:#0d0d0f;
    --label-color:#6a6b6d;
    --border-color:#c9cdd4;
    --hover-color:#87abf8;
    --font-family: "Helvetica Neue",Helvetica,Arial;
    --border-radius:5px;
    --white-board:#fff;
}
*,::after,::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family);
}
body {
    color: var(--text-color);
    font-family: var(--font-family);
    width:100%;
    background-color: var(--background-color);    
}
main{
    width:60%;
    margin:1rem auto;
    padding:20px;
    background:var(--white-board);
    border-radius: 5px;
}
#survey-form{
    background: var(--white-board);
    border: 1px solid var(--border-color);
    width:90%;
    margin:1.5rem auto;
    padding:1rem;
}
h1, p{
    text-align:center;
    margin-bottom:15px;
}
p{
    color: var(--label-color);
    font-style: italic;
    font-size:16px;
}
p::before , p::after{
    content: '"';
}
hr{
    width:100%;
    border: 1px dashed var(--border-color);
}
.info-container{
    width:90%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.info-container  label{
    display:block;
}
.info-container .smaller-container{
    width:40%;
    margin:10px 0;
}
.info-container input, .info-container #gender-list{
    margin-top:5px;
    width:100%;
   height:1.8rem;
}
.personal-info {
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;   
}
.personal-info .inputs{
    display:flex;   
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1px;
    align-items: center;
}

.info-container span , .info-container .smaller-container label{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}
.personal-info .inputs label{
    display: block;
    font-size:12px;
    margin-top:2px;
}
legend{
    margin:15px 0 10px 0;   
}
#multiple-questions , fieldset {
    border:none;
}
#multiple-questions label{
    font-size:16px;
    color: var(--label-color);
}
#multiple-questions input[type="radio"],#multiple-questions input[type="checkbox"] {
margin-right:5px;
}
#multiple-questions #text-box{
    resize:none;
    padding:10px;
    border: 1px solid var(--border-color);
}
#multiple-questions #text-box:hover,input:hover,select:hover{
    border:1.5px solid var(--hover-color);
    box-shadow:  2px 2px var(--border-color);
}
input[type="radio"]:hover, input[type="checkbox"]:hover{
    border:none;
    box-shadow:none;
}
#multiple-questions .wrap-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
}
#multiple-questions .radio-1{
    width:30%
}
#multiple-questions .radio-2{
    width:60%;   
}
#multiple-questions .radio-3{
    width:90%;
}
#multiple-questions #checklist{
   width:90%;
   height:5rem;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 10px;
}
#multiple-questions #menu{
    width:50%;
    height: 1.2rem;
    border-radius: 10px;
    padding-left: 10px;
}
#btn-container{
    width: 40%;
    margin: 20px auto;
    padding:10px;  
    position: relative;
}
#btn-container button{
    align-self: center;
}
#submit-btn{
    cursor: pointer;
    width: 100%;
    height:2rem;
    border-radius: 10px;
    border: 1px solid var(--background-color);
    background:var(--background-color);
    color:var(--white-board);
    font-weight: 700;
}
#submit-btn:hover{
    background: linear-gradient(135deg,var(--background-color), var(--hover-color));
    color:var(--p-color)
}
#multiple-questions #text-box,input,select{
    outline-style: none;
}
input[type="text"],input[type="email"]{
    text-align: center;
}


